@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700|Coda:400,800);

@import "grid_framework";
@import "syntax";

.site {
	max-width:98%;
	margin:0 auto;
}

.logo {
	display:block;
	font-family:"Coda", serif;
	font-weight:800;
	font-size:2em;
	line-height:1;
	text-decoration:none;
	text-align:center;
	color:black;
	width:100%;
	img, svg {
		max-width:700px;
		width:100%;
		height:26.98%;
		margin:0 auto;
	}

}

section[role="main"] {
	max-width:700px;
	width:100%;
	margin:1em auto;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family:"Coda", serif;
	font-weight:400;
	text-shadow:2px 2px 5px #ccc;
}

p,
li,
address {
	font-family:"Old Standard TT", serif;
}

footer {
	text-align:center;

}