<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | {{ site.name }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ site.css }}">

    </head>
    <body>

        <div class="site">
          <header>
            <div><a href="/" class="logo"><img src="/images/brianchatman.svg" alt="Brian Chatman" /></a></div>
          </header>
          <section role="main">
          {{ content }}
          </section>
          <footer>
            <p>&copy;2014</p>

          </footer>
        </div>

    </body>
</html>
